.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box {
  font-size: xx-large;
  text-align: center;
  height: auto;
  width: 75%;
  border: 100px rgb(177, 36, 134);
  padding: 10px;
  margin: auto;

  color: #ac1dee;
  background-color: bisque;
}

.row {
  font-size: small;
  color: #2b17da;
  background-color: #2f303b;
  align-items: center;
  justify-content: center;
  display: flex;
}

.rowEntry {
  padding: 20px;
  border-spacing: 30px;
}

td {
  text-align: left;
}

th {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
